# Security: Never push environment variables or secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories (Recursive)
node_modules/
client/node_modules/
server/node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Production builds
dist/
dist-ssr/
client/dist/

# Editor & System files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
coverage/

# Temporary files
.vercel
.netlify